@import "tailwindcss";
@import "material-symbols";

@theme inline {
  --color-primary: #0df259;
  --color-background-light: #f5f8f6;
  --color-background-dark: #0a0a0a;
  --color-carbon: #121212;
  --color-border-dark: #28392e;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --border-radius: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
}
